<!DOCTYPE html>
<html>
<head>
    <title>MNIST</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>MNIST</h1>
{#    <div class="row">#}
        <div class="col-md-6">
            <p>draw a digit here!</p>
            <canvas id="main"></canvas>
            <p>
                <button id="clear" class="btn btn-default">clear</button>
                <button id="drawInput" class="btn btn-default">drawInput</button>
                <button id="recognizeDraw" class="btn btn-default">recognize</button>
            </p>
        </div>
        <div class="col-md-6">
            <p>input:</p>
            <div style="height: 200px; width: 200px; border: #080808">
                <img id="origin">
            </div>
            <div style="height: 200px; width: 200px">
                <img id="fgsm_mnist">
            </div>
            <div style="height: 200px; width: 200px">
                <img id="pgd_mnist">
            </div>
            <p>
                <button id="attack_btn_fgsm" class="btn btn-default">attack_fgsm</button>
                <button id="attack_btn_pgd" class="btn btn-default">attack_pgd</button>
            </p>
            <hr>
            <p>output:</p>
            <table id="output" class="table">
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-2">origin</th>
                    <th class="col-md-2">fgsm</th>
                    <th class="col-md-2">pgd</th>
                </tr>
                <tr>
                    <th>0</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>2</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>3</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>4</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>5</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>6</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>7</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>8</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>9</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <input id="img_input" type="file" accept="image/*"/>
            <label for="img_input"></label>
            <div class="preview_box"></div>
            <p>
                <button id="updateInput" class="btn btn-default">recognize upload</button>
            </p>
        </div>
{#    </div>#}
</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</html>
